/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
#datetime-picker {
  background: #fff;
  margin-top: 36px;
  margin-left: 156px;
  padding-left: 16px;
  width: 272px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
#datetime-picker:hover {
  border: 1px solid #000;
}
#datetime-picker:active {
  border: 1px solid #4e75ff;
}
#datetime-picker:disabled {
  border: 1px solid #808080;
  color: #808080;
  background: #fafafa;
}
button[data-start] {
  width: 75px;
  height: 40px;
  display: inline-flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
}
button:hover {
  background: #6c8cff;
}
button[data-start]:disabled {
  background: #cfcfcf;
  color: #989898;
}

.timer {
  display: flex;
  width: 1440px;
  height: 496px;
  padding: 36px 929px 316px 156px;
  gap: 32px;
}
.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value {
  color: #2e2f42;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 1.6px;
}
.label {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
}

.form {
  padding: 36px 924px 388px 156px;
  width: 360px;
  color: #2e2f42;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.form input[type='number'] {
  width: 340px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 24px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 0px 8px 16px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

fieldset {
  display: flex;
  border: 1px solid #808080;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 24px;
}

legend {
  padding: 0 5px;
}

.form button {
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.form button:hover {
  background-color: #6c8cff;
}
